<html> 
<body> 
	<h3>Titanic Survival Project</h3> 

<div> 
<form action="/result" method="POST"> 
	<label for="Embarked">Embarked</label> 
	<select id="Embarked" name="Embarked"> 
	<option value = "1">S</option>
	<option value = "2">C</option>
	<option value = "3">Q</option>
	</select>
	<br> 
	<label for="Pclass">Pclass</label> 
	<input type="number" id="Pclass" name="Pclass" min="1" max="3"> 
	<br>
	<label for="Sex">Sex</label> 
	<select  id="Sex" name="Sex">
	<option value = "1">male</option>
	<option value = "0">female</option> 
	</select>
	<br> 
	<label for "Age"> Age</label>
	<input type = "text" id ="Age" name = "Age">
	<br> 
	<label for="SibSp">Siblings</label> 
	<select id="SibSp" name="SibSp"> 
	<option value = "0">0</option>
	<option value = "1">1</option>
	<option value = "2">2</option>
	<option value = "3">3</option>
	<option value = "4">4</option>
	<option value = "5">5</option>
	<option value = "8">8</option>
	</select>
	<br> 
	<label for="Parch">Parch</label> 
	<select id="Parch" name="Parch"> 
	<option value = "0">0</option>
	<option value = "1">1</option>
	<option value = "2">2</option>
	<option value = "3">3</option>
	<option value = "4">4</option>
	<option value = "5">5</option>
	<option value = "6">6</option>
	</select>
	<br>  
	<input type="submit" value="Submit"> 
</form> 
</div> 
</body> 
</html> 
